# Exclude files from archives
.gitignore        export-ignore
.gitattributes    export-ignore
.github           export-ignore

.pylintrc         export-ignore
tox.ini           export-ignore

docs              export-ignore
